* {
    box-sizing: border-box;
}

header {
    background-color: #3f8bee;
    margin: 0px;
    padding: 0px;
    color: #ffffff;
}

ul {
    list-style: none;
}

nav ul {
    display: flex;
    gap: 30px;
}

header h1 {
    font-size: 30px;
}

main article {
    background-color: #eeeeee;
    border: 5px solid #676767;
    border-radius: 10px;
}

footer {
    background-color: #3f8bee;
    color: #ffffff;
}